:root {
  --background: radial-gradient(circle, #66E972, #28A65E);
  --foreground: #171717;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Flux', sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 8vh;
}