:root {
  --background: linear-gradient(to right, #66E972, #28A65E);
  --foreground: #171717;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Flux', sans-serif;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  display: grid;
  grid-template-rows: 8vh auto;
}

#app nav {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app nav a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem 1.5rem;
  border-radius: 10px;
  color: var(--foreground);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#app nav a:hover {
  background-color: white;
}


#app nav .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#app nav .left img{
  height: 60%;
  margin-right: .5rem;
}

#app nav .left h1{
  font-size: 1.2rem;
}

#app main{
  width: 100%;
  display: grid;
  grid-template-rows: 100vh 30vh;
}

#app main .welcome{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  animation: fadeIn 1.5s ease-out;
}

#app main .welcome img{
  height: 30%;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

#app main .welcome h1{
  font-size: 2rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app main .welcome h1 span{
  color: white;
  background-color: blue;
  padding: .3rem .8rem;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-left: .5rem;
}

#app main .welcome p{
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

#app main .welcome ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#app main .welcome ul li{
  list-style: none;
  margin: 0 1rem;
}

#app main .welcome ul li a{
  text-decoration: none;
  color: var(--foreground);
  background-color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 200px;
  height: 45px;
  box-sizing: border-box;
  font-weight: 600;
}
#app main .welcome ul li a:hover {
  background-color: #c6dbc4;
}

#app main .informations {
  width: 100%;
  display: grid;
  grid-template-rows: 20vh 20vh 20vh;
}
#app main .informations section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#app main .informations section ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*login popup*/

#login {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.267);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login .frame {
  height: 35%;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 30% auto 15%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.open{
  animation: dropDown 0.3s ease-out;
}
.close{
  animation: dropDown 0.3s ease-out reverse;
}

#login .frame .top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

#login .frame .top .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

#login .frame .top .nav h1 {
  font-size: 1.5rem;
}

#login .frame .top .nav span {
  font-size: 1.5rem;
  cursor: pointer;
}

#login .frame .top p {
  font-size: 1rem;
}

#login .frame .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login .frame .content .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#login .frame .content .options a {
  text-decoration: none;
  color: var(--foreground);
  background-color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 300px;
  height: 45px;
  box-sizing: border-box;
  font-weight: 600;
  margin: 0.5rem;
}

#login .frame .content .options .discord {
  background-color: #5865F2;
  color: white;
}
#login .frame .content .options .discord:hover {
  background-color: #4752C4;
}

#login .frame .content .options .guest {
  background-color: #9099a5;
  color: white;
}
#login .frame .content .options .guest:hover {
  background-color: #4B5563;
  color: white;
}

#login .frame .bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}