
/*!************************************************!*\
 !************& © Copyright @abstra208 &************!
\*!************************************************!*/

#start {
    display: grid;
    grid-template-rows: 111vh 50vh 100vh 25vh 5vh;
}

#welcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}
#welcome .logo {
    height: 25vh;
    margin-bottom: 10px;
    position: absolute;
    top: -5%;
    z-index: 1001;
}
#welcome .hero {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--right), var(--average));
    width: 90%;
    height: 84%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#welcome .hero .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5%;
}
#welcome .hero .top h1 {
    font-size: 3rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#welcome .hero .top h1 span {
    color: white;
    background-color: #5765F2;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: 10px;
}
#welcome .hero .top p {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary);
}
#welcome .hero .top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 30px;
}
#welcome .hero .top ul li {
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 800;
}
#welcome .hero .top ul li a {
    text-decoration: none;
    color: white;
    background-color: #4E5058;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome .hero .top ul li a:hover {
    background-color: #6D6F78;
}
#welcome .hero .top ul li .discord {
    background-color: #5765F2;
}
#welcome .hero .top ul li .discord:hover {
    background-color: #4752C4;
}
#welcome .hero .top ul li a img {
    height: 1.9vh;
    margin-left: 10px;
}
#welcome .hero .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5%;
}
#welcome .hero .bottom h2 {
    font-size: 2rem;
    margin-top: 20px;
}


#features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5%;
}
#features h2 {
    font-size: 2rem;
    margin-top: 20px;
}
#features h2 .underline {
    position: relative;
    display: inline-block;
}
#features h2 .underline.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: -1px;
    left: 0;
    animation: underlineslide .6s ease;
    background-color: #5765F2;
    z-index: -1;
}
#features p {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
}
#features .features {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    height: 100%;
}
#features .features div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 20px;
    border-radius: 10px;
    transition: .3s ease;
}
#features .features div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#getstarted {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5%;
}
#getstarted h2 {
    font-size: 2rem;
    margin-top: 20px;
}
#getstarted p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 300;
}
#getstarted ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 30px;
}
#getstarted ul li {
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 800;
}
#getstarted ul li a {
    text-decoration: none;
    color: white;
    background-color: #4E5058;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
#getstarted ul li a:hover {
    background-color: #6D6F78;
}
#getstarted ul li .discord {
    background-color: #5765F2;
}
#getstarted ul li .discord:hover {
    background-color: #4752C4;
}
#getstarted ul li a img {
    height: 1.9vh;
    margin-left: 10px;
}

#faq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5%;
}
#faq h2 {
    font-size: 2rem;
    margin-top: 20px;
}
#faq p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 300;
}
#faq div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 20px;
    border-radius: 10px;
    transition: .3s ease;
}
#faq div h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}
#faq div p {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
}