#test {
    display: grid;
    grid-template-rows: 8vh auto 11vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    flex-direction: row;
    backdrop-filter: blur(10px);
}
nav img {
    height: 60%;
    margin-left: 1rem;
}
nav ul {
    width: 650px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
nav ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 80%;
    font-size: 1.2rem;
    background-color: hsla(0,0%,100%,.05);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s ease;
    border: none;
}
nav ul li button:hover {
    background-color: hsla(0,0%,100%,.1);
}
nav ul li .join {
    background-color: rgb(63, 126, 66);
    color: white;
}
nav ul li .join:hover {
    background-color: rgb(63, 126, 66, .8);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-top: rgba(255, 255, 255, 0.2) .2px solid;
    padding: 0 2rem;
}
footer .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    margin-top: 2%;
}
footer .top .left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
footer .top ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}
footer .top ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100px;
}
footer .top ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    background-color: hsla(0,0%,100%,.05);
    cursor: pointer;
    transition: .2s ease;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
}
footer .top ul li button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
footer .top .left img {
    height: 100%;
}
footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
footer .bottom p {
    font-size: 1.2rem;
    color: white;
}
footer .bottom ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}
footer .bottom ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
}
footer .bottom ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: .8rem;
    background-color: hsla(0,0%,100%,.05);
    cursor: pointer;
    transition: .2s ease;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
}